<div class="blog-card" ng-app = 'app'>
    <table class='table table-borderless'>
        <tbody>
            <tr>
                <td>
                    <h3 class="blog-title">
                        {{ weather.name + ", " + weather.sys.country }}
                    </h3>
                    <br>
                    <p class="blog-desc">
                        {{ weather.weather[0].description }}
                    </p>  
                </td>
                <td>
                    <h1>{{ weather.main.temp + ' C' }}</h1>
                    <p>{{ "Temp Min: " + weather.main.temp_min }}</p>
                    <p>{{ "Temp Max: " + weather.main.temp_max }}</p>  
                </td>    
            </tr>
        </tbody>
    </table>
    <table class="table table-borderless table-dark">
        <tbody>
            <tr>
                <td>
                    <p class="p-light">{{ "Pressure: " + weather.main.pressure + " Pa" }}</p>
                    <p class="p-light">{{ "Humidity: " + weather.main.humidity + "%" }}</p>
                    <p class="p-light">{{ "Visibility: " + (weather.visibility / 1000)  + " km" }}</p>
                </td>
                <td>
                    <p class="p-light">{{ weather.wind.speed + " m/s " + weather.wind.deg + " Degree" }}</p>
                </td>
                <td>
                    
                </td>
            </tr>
        </tbody>    
    </table>
</div>        

