.center {
    margin-top: 100px;
    width: 70%;
    border: 1px solid #0F011F;
    padding: 10px;
}

.weather{
    padding-left: 50px;
}

.p-weather{
    text-align: center;
}

.div-spinner{
    align-items: center;
}